html {
    background-color: black;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    font-size: 25px;
}

#articles {
    max-width: 500px;
    margin: 0 auto;
    font-size: 20px;
}
.article {
    border: 5px solid tan;
    border-radius: 5px;
    background-image: url(./images/chalkboard-black.jpg);
    margin-bottom: 15px;
    padding: 0 30px;
    padding-bottom: 15px;
}
#header-div {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: lightblue
}

.comment-field {
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#comment-button:hover {
    cursor: pointer;
}

#comment-button {
    color: lightgreen;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#view-comment-button {
    color: lightgreen;
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-top: 15px;
}

#view-comment-button:hover {
    cursor: pointer;
}

#p-link {
    color: white;
}

#summary-h4 {
    color: lightgreen
}

::placeholder {
    color: lightgreen;
    opacity: 0.5;
}

.comments {
}